
<%= form_for(@pet) do |f| %>

	 <div class="field">
	 	<h2><%= f.label :name %><br /></h2>
    	<%= f.text_field :name, autofocus: true %>
	 </div>

	 <div class="field">
	 	<h2><%= f.label :pet_kind_id %><br /></h2>
    	<%= f.collection_select(:pet_kind_id, @pet_kinds, :id, :name) %>
	 </div>

	 <div class="field">
	 	<h2><%= f.label :breed %><br /></h2>
    	<%= f.text_field :breed %>
	 </div>

	 <div class="field">
	 	<h2><%= f.label :date_of_birth %><br /></h2>
    	<%= f.date_field :date_of_birth %>
	 </div>

	 <div class="field">
	 	<h2><%= f.label :size %><br /></h2>
    	<%= f.select :size, Pet.sizes.keys %>
	 </div>	


	<div class="actions">
    	<%= f.submit "Save Data",  class: 'button', id: 'submits' %>
  	</div>

  <% end %>