<div id = "sitter-show">
	<h4>Pet Data</h4>
	<h3><b>Pet:</b> <%= @agenda.pet.name %></h3>
	<h3><b>Kind: </b><%= @agenda.pet.pet_kind.name%></h3>
	<h3><b>Breed: </b><%= @agenda.pet.breed%></h3>
	<h3><b>Size: </b><%= @agenda.pet.size%></h3>
	<h3><b>Date of Birth: </b><%= @agenda.pet.date_of_birth.strftime('%F')%></h3>
</div>

<div id = "sitter-show">
	<h4>Sitting Data</h4>
	<h3><b>Start Day:</b> <%= @agenda.start_day.strftime('%F') %></h3>
	<h3><b>End Day:</b> <%= @agenda.end_day.strftime('%F') %></h3>
	<h3><b>Payment:</b> <%= @agenda.total_payment %></h3>
	<h3><b>Care Needs:</b> <%= @agenda.care_needs %></h3>
</div>

<div id = "sitter-show">
	<h4>Sitter Data</h4>
	<h3><b>Name: </b><%= @agenda.user.name%></h3>
	<h3><b>Lastname:</b><%= @agenda.user.lastname%></h3>
	<h3><b>Email: </b><%= @agenda.user.email%></h3>
	<h3><b>Phone Number: </b><%= @agenda.user.phone%></h3>
	<h3><b>Address: </b><%= @agenda.user.address%></h3>
</div>

<div id = "show-bottom">
	<%if current_user.admin?%>
		<%= link_to "Back: Manage Calendars", agendas_path(@user), class: 'button', id: 'button-page' %>
	<%else%>
		<%= link_to "Back: My Calendars", agendas_path(@user), class: 'button', id: 'button-page' %>
	<%end%>
	<%= link_to "Delete Agenda", agenda_path(@agenda), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'button', id: 'button-page' %>
	<%= link_to "Cancel Sitter", sitter_path(@agenda), method: :delete, data: { confirm: 'Are you sure you want to cancel the sitter?' }, class: 'button', id: 'button-page'%>
</div>